@font-face {
  font-family: 'AdventProSemiBold';
  src:url('AdventPro-SemiBold.ttf')}
.admin {
  margin: 0;
  padding: 0;
  color: #2d2d2d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.compo, .cup {
  width: 49%;
  text-align: center;
}

input {
  color: #02346F;
  height: 2em;
  width: 50%;
  margin: auto;
  margin-bottom: 15px;
}
form {
  display: flex;
  flex-direction: column;
}
.admin form {
  margin-top: 5%;
}
.page form {
  margin-top: 2%;
}
table {
  font-size: 1.2em;
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
}
th {
  color: #2d2d2d;
  line-height: 2em;
  border-bottom: solid 2px #2d2d2d;
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  text-transform: capitalize;
}
.cup td {
  width: 25%;
  line-height: 1.5em;
}
.compo td {
  width: 20%;
  line-height: 1.5em;
}
a {
  text-decoration: none;
  color: #F05A49;
  font-weight: bold;
}
h1 {
color: #f4f2f2;
background-color: #02346F;
font-family: 'AdventProSemiBold';
padding: 2.5%;
margin: 0;
}
.btn {
  color: #f4f2f2;
  background-color: #02346F;
  font-family: 'AdventProSemiBold';
  width: 20%;
}

.back a {
  color: #f4f2f2;
  background-color: #02346F;
  font-family: 'AdventProSemiBold';
  padding: 1% 4%;
  font-weight: lighter;
}

.page {
  text-align: center;
  font-family: 'AdventProSemiBold';
  color: #2d2d2d;
  font-size: 2em;
}

@media screen and (max-width:320px) {
  .admin {
    display: flex;
    flex-direction: column;
  }
  td, th {
    font-size: 0.8em;
  }
  h1 {
    font-size: 1em;
  }
}
@media screen and (min-width:320px) and (max-width:768px) {
  .admin {
    display: flex;
    flex-direction: column;
  }
  .compo, .cup {
    width: 100%;
  }
  table {
    font-size: 0.8em;
  }
  h1 {
    font-size: 1.5em;
  }
}
@media screen and (min-width:768px) and (max-width:1200px) {
  table {
    font-size: 0.8em;
  }
  h1 {
    font-size: 1.5em;
  }
}
