@font-face {
  font-family: 'AdventProSemiBold';
  src:url('AdventPro-SemiBold.ttf');}
body {
  margin: 0;
  color: #2d2d2d;
  font-family: sans-serif;
}
.words {
  width: 49%;
  float: left;
  text-align: center;
  display: inline-block;
}
ul {
  list-style-type: none;
  padding: 0;
}
.list {
  line-height: 2em;
  float: left;
  text-align: left;
  width: 30%;
  position: relative;
  left: 25%;
  font-weight: bold;
}
.del {
  line-height: 2em;
  float: left;
  width: 5%;
  position: relative;
  left: 25%;
  color: #f4f2f2;
}
.change {
  line-height: 2em;
  float: right;
  width: 5%;
  position: relative;
  right: 30%;
}
p {
  margin: 0;
  padding-top: 15px;
  background-color: #2d2d2d;
  color: #f4f2f2;
  height: 50px;
  font-family: 'AdventProSemiBold';
  font-size: 1.5em;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: #F05A49;
  font-weight: bold;
}
.btn {
  background-color: #F05A49;
  border: none;
  color: #f4f2f2;
  padding: 5px 15px;
}
.new{
  border: solid 1px #c1c1c1;
  padding: 5px 15px;
}
.players {
  float: right;
  width: 49%;
  text-align: center;
}
form {
  clear: both;
  padding: 5%;
}

/*Create/delete page
========================================*/
.create_p {
  text-align: center;
  font-family: 'AdventProSemiBold';
  color: #2d2d2d;
  font-size: 2.5em;
  margin: 5% 0;
}
.update_p {
  text-align: center;
  color: #2d2d2d;
  font-family: 'AdventProSemiBold';
  font-size: 2.5em;
  margin: 5% 0;
}
.back {
  clear: both;
  text-decoration: none;
  color: #F05A49;
  font-weight: bold;
  background-color: #2d2d2d;
  width: 20%;
  font-size: 2em;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  text-align: center;
  margin: 2% auto;
}

/*PLAY page
========================================*/
.a-z {
  text-transform: uppercase;
  padding: 0 1%;
}
.a-z:hover {
  color: #f4f2f2;
  background-color: #F05A49;
}
.ingame {
  width: 25%;
  margin: auto;
}
.start {
  color: #F05A49;
  width: 100%;
  font-weight: bold;
  background-color: #2d2d2d;
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0.5em 0.5em 0.5em 0.5em;

}
.again {
  color: #f4f2f2;
  width: 100%;
  font-weight: bold;
  background-color: #2d2d2d;
  font-size: 2em;
  text-align: center;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}
.start:hover, .again:hover, .back:hover{
  border: solid 3px #F05A49;
}
.find, .alphabet {
  width: 50%;
  margin: auto;
  text-align: center;
}
.alphabet {
  font-size: 1.4em;
}
.left {
  font-size: 2em;
  margin: 2.5% auto;
  text-align: center;
}

@media screen and (min-width:768px) and (max-width:1200px) {
  body {
    font-size: 0.9em;
  }
  .list {
  left: 7.5%;
}
.change {
  position: relative;
  right: 25%;
 }
 .del {
   left: 25%;
 }
 .back {
   font-size: 1.5em;
 }
 /*PLAY page
 ========================================*/
 .start {
   font-size: 2em;
 }
 .again {
   font-size: 1.5em;
 }

 .alphabet {
   font-size: 1.4em;
 }
}

@media screen and (max-width:767px) {
  body {
    font-size: 0.9em;
  }
  .words {
    width: 100%;
  }
  .list {
    left: 7.5%;
  }
  .del {
    left: 25%;
  }
  .players {
    margin-top: 5%;
    width: 100%;
  }
  .change {
    position: relative;
    right: 25%;
   }
   .back {
     margin-top: 5%;
     width: 50%;
     font-size: 1.5em;
   }
   /*PLAY page
   ========================================*/
   .ingame {
     width: 75%;
   }
   .start {
     font-size: 2em;
   }
   .again {
     font-size: 1.5em;
   }
   .find, .alphabet {
     width: 100%;
   }
   h1 {
     font-size: 1.5em;
   }
   .alphabet {
     font-size: 1.4em;
   }
}
